# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are created by running PyInstaller with Python sounding names
# such as python.exe, python3.x.exe, app.py etc.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
__notebook_source__.ipynb

# Environments
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/

# Data
data/
*.zip

# Logs
actions.log
evaluate_output.log
training_output.log
training_stats.log
app/database/actions.log

# Other
lfw_cache.py
Archivers/
.gitattributes
*.DS_Store
